{
  "presets":[
    "es2015"
  ],
  "plugins": [
    ["transform-es2015-modules-commonjs",{"loose": true}],
    "transform-async-to-generator",
    "transform-object-rest-spread",
    "transform-flow-strip-types"
  ],
  "env": {
    "production": {
      "presets": [["babili", {
        "mangle": false
      }]]
    }
  }
}
